XaeroWaypoints*/
xaero/

schematics/
saves/
logs/
local/
defaultconfigs/
crash-reports/
config/
modernfix/
resourcepacks/
shaderpacks/
downloads/
backups/

usernamecache.json
usercache.json
user-prefs.json
servers.dat
servers.dat_old
rhino.local.properties
options.txt
.curseclient
minecraftinstance.json
